builds/

ld34/Temp/
ld34/Library/

ld34/ExportedObj/
ld34/obj/
ld34/*.svd
ld34/*.userprefs
ld34/*.csproj
ld34/*.pidb
ld34/*.suo
ld34/*.sln
ld34/*.user
ld34/*.unityproj
ld34/*.booproj

ld34/.DS_Store
ld34/.DS_Store?
ld34/._*
ld34/.Spotlight-V100
ld34/.Trashes
ld34/ehthumbs.db
ld34/Thumbs.db
